nav {
    position: relative;
    text-align: center;
    background-color: gold;
    padding: 8px;
    color: white;
    height: 25px;
}

.navcDiv {
    position: absolute;
    animation: NavWork 1s ease;
    background-color: red;
    width: 99%;
}

@keyframes NavWork {
    from {
        top: 96vh;
    }
    to {
        top: 8px;
    }
}