nav {
    text-align: center;
    background-color: gold;
    padding: 8px;
    color: white;
    height: 25px;
}


/* .navcDiv {} */

.svgDiv {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: red;
    top: 3%;
    left: 1%;
    width: 40%;
    border-radius: 10px;
}

#navSvg {
    height: 96vh;
}