.card {
    margin: 10px;
    background-color: green;
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.card:hover {
    background-color: blue;
}

.batman1 {
    background-color: black;
    /* background-image: url("batman.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spiderman1 {
    background-color: red;
    /* background-image: url("spiderman-latest-wallpaper.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.joker1 {
    background-color: violet;
    /* background-image: url("joker.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tiger1 {
    background-color: yellow;
    /* background-image: url("tiger.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.superman1 {
    background-color: blue;
    /* background-image: url("superman.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-hideq {
    background-color: green;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    background-color: none;
}

p {
    display: inline-block;
}