@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap");
*::selection {
    background-color: gold;
    color: white;
}

#svgDiv svg {
    width: 200px;
    height: 200px;
    display: none;
}

.CardImg {
    opacity: 0;
    visibility: hidden;
    width: 200px;
    height: 200px;
}

.card {
    margin: 20px;
    /* background-image: url("./Img/cards.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.card:hover {
    background-color: orange;
}

.batman1 {
    background-color: black;
    /* background-image: url("./Img/Daredevil.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spiderman1 {
    background-color: red;
    /* background-image: url("./Img/deadpool.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.joker1 {
    background-color: violet;
    /* background-image: url("./Img/kingpin.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tiger1 {
    background-color: yellow;
    /* background-image: url("./Img/spiderman.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.superman1 {
    background-color: blue;
    /* background-image: url("./Img/supergirl.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-hideq {
    background-color: green;
    /* background-color: white; */
    /* border-style: solid;
    border-color: black;
    border-width: 1px; */
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    background-color: none;
}

p {
    display: inline-block;
}

.cardsCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreDiv {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}